html, body { height: 100%; width: 100%; padding: 0; border: 0; }
#main { height: 100%; width: 100%; padding: 0; border: 0; }
#leftAccordion { width: 25%; }
#bottomTabs { height: 40%; }
#main .dijitSplitterH { height: 7px }
#main .dijitSplitterV { width: 7px }

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader { 
    padding:0;
    margin:0;
    position:absolute; 
    top:0; left:0; 
    width:100%; height:100%;  
    background:#ededed; 
    z-index:999;
    vertical-align:center; 
}
#loaderInner {
    padding:5px;
    position:relative; 
    left:0;
    top:0; 		
    width:275px; 
    background:#3c3; 
    color:#fff; 			
    
}

hr.spacer { border:0; background-color:#ededed; width:80%; height:1px; } 

/* for custom menu buttons, do not appear to have any effect */
.myCustomTheme .dijitButtonNode {
    border:1px solid #000;
    vertical-align: middle;
    padding: 0.2em 0.2em;
    background: url("themeTesterImages/blackButtonEnabled.gif") repeat-x bottom left #474747;
    color: blue;
}

.myCustomTheme .dijitButtonHover .dijitButtonNode,
.myCustomTheme .dijitToggleButtonHover .dijitButtonNode {
    background: url("themeTesterImages/blackButtonHover.gif") repeat-x bottom left #3b3b3b !important;
}
